---
import Social from "@components/common/Social.astro";
---

<footer class="glass container border border-transparent bg-opacity-20 lg:my-4 lg:rounded-lg intersect:animate-fadeUp opacity-0">
  <div class="row py-2 lg:py-0 items-center flex-wrap-reverse">
    <div class="text-center lg:col-6 lg:mb-0 lg:text-left">
      <ul>
        <li class="m-2 inline-block">
          <a
            href="/terms"
            class="font-secondary text-light-cream text-sm transition hover:text-accent-copper"
          >
            © 2025 Régis Rolnin — Tous droits réservés
          </a>
        </li>
      </ul>
    </div>
    <div class="text-center lg:col-6 lg:my-0 flex items-center justify-center lg:justify-end">
      <Social
        links={{
          linkedIn: "https://www.linkedin.com/",
          youtube: "https://www.youtube.com/",
          facebook: "https://www.facebook.com/",
          instagram: "https://www.instagram.com/",
          tiktok: "https://www.tiktok.com/",
        }}
      />
    </div>
  </div>
</footer>
